In [7]:
import pandas as pd

cassava =pd.read_excel('Cassava_Yield_Data.xlsx')

In [8]:
import os
print(os.listdir(os.getcwd()))

['.git', '.gitattributes', 'Big Data Mining_Lecture1  2.pptx.pdf', 'bigData.ipynb', 'Bike_Sales.xlsx', 'Cassava_Yield_Data.xlsx', 'DATASETS FOR PRACTICAL-20240919.zip', 'Data_Mining_Sample_data_generated.xlsx', 'DSC3108_Big Data Mining_Lecture3.pptx', 'Iris.csv', 'Lecture3_EDA.ipynb', 'Practical1_Pre-processing.ipynb', 'Practical2_Pre-transformation.ipynb', 'Second_EDA.ipynb', 'studentperfomance.xlsx', 'Student_performance.xlsx', 'Traffic_Data.csv', 'Train.csv']

In [9]:
cassava

,Sesn,locn,block,rep,tillage,ferT,Plants_harvested,No_bigtubers,Weigh_bigtubers,No_mediumtubers,Weight_mediumtubers,No_smalltubers,Weight_smalltubers,Totaltuberno,AV_tubers_Plant,Total_tubweight,plotsize,HEC,TotalWeightperhectare,TotalTuberperHectare
0,2,1,1,1,conv,F2150,28,0,0.0,61,2.5,319,4.7,380,13.571429,7.2,5.3,10000,13584.905660,716981.132075
1,2,1,1,1,conv,F1100,28,0,0.0,110,4.6,260,4.0,370,13.214286,8.6,5.3,10000,16226.415094,698113.207547
2,2,1,1,1,conv,F3200,28,2,0.2,115,5.2,319,4.4,436,15.571429,9.8,5.3,10000,18490.566038,822641.509434
3,2,1,1,1,conv,F5300,28,6,0.7,60,2.7,303,4.8,369,13.178571,8.2,5.3,10000,15471.698113,696226.415094
4,2,1,1,1,conv,F4250,28,3,0.3,82,3.4,332,4.7,417,14.892857,8.4,5.3,10000,15849.056604,786792.452830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,2,2,3,3,conv,F1100,19,0,0.0,33,1.0,220,2.1,253,13.315789,3.1,4.2,10000,7380.952381,602380.952381
111,2,2,3,3,conv,F5300,16,0,0.0,22,1.0,204,1.9,226,14.125000,2.9,4.2,10000,6904.761905,538095.238095
112,2,2,3,3,conv,F2150,13,0,0.0,8,0.4,52,1.2,60,4.615385,1.6,4.2,10000,3809.523810,142857.142857
113,2,2,3,3,conv,F4250,20,0,0.0,42,1.9,91,1.8,133,6.650000,3.7,4.2,10000,8809.523810,316666.666667
114,2,2,3,3,conv,F3200,19,0,0.0,47,2.5,202,2.0,249,13.105263,4.5,4.2,10000,10714.285714,592857.142857