# FOR THE ASSIGNMENT and PRATICE

In [12]:
import pandas as pd
import numpy as np
import random

# Seed for reproducibility
random.seed(42)
np.random.seed(42)

# Categories and data for columns
academic_subjects = ["Mathematics", "Physics", "Chemistry", "Biology", "Psychology", "Sociology", "Literature", "History"]
food_types = ["Vegetables", "Fruits", "Dairy", "Protein", "Grains", "Snacks", "Beverages", "Desserts"]
academic_levels = ["High School", "Undergraduate", "Postgraduate", "PhD"]
food_preferences = ["Vegan", "Vegetarian", "Non-Vegetarian", "Pescatarian"]
grades = ["A", "B", "C", "D", "F"]
calories = np.random.randint(50, 700, size=500)

# Generate random data
data = {
    "Student_ID": np.arange(1, 501),
    "Age": np.random.randint(15, 35, size=500),
    "Academic_Subject": [random.choice(academic_subjects) for _ in range(500)],
    "Academic_Level": [random.choice(academic_levels) for _ in range(500)],
    "Grade": [random.choice(grades) for _ in range(500)],
    "Food_Type": [random.choice(food_types) for _ in range(500)],
    "Food_Preference": [random.choice(food_preferences) for _ in range(500)],
    "Calories_Consumed_per_Day": calories
}

# Create DataFrame
df = pd.DataFrame(data)

# Display DataFrame
print(df.head())

# Save DataFrame to excel
df.to_excel("academic_food_data.xlsx", index=False)

   Student_ID  Age Academic_Subject Academic_Level Grade  Food_Type  \
0           1   17          Physics    High School     A    Protein
1           2   26      Mathematics   Postgraduate     B  Beverages
2           3   34       Psychology            PhD     F   Desserts
3           4   18          Biology   Postgraduate     A     Fruits
4           5   30          Biology  Undergraduate     A     Fruits

  Food_Preference  Calories_Consumed_per_Day
0      Vegetarian                        152
1  Non-Vegetarian                        485
2     Pescatarian                        320
3           Vegan                        156
4      Vegetarian                        121

In [14]:
academic= pd.read_excel('academic_food_data.xlsx')

In [15]:
academic

,Student_ID,Age,Academic_Subject,Academic_Level,Grade,Food_Type,Food_Preference,Calories_Consumed_per_Day
0,1,17,Physics,High School,A,Protein,Vegetarian,152
1,2,26,Mathematics,Postgraduate,B,Beverages,Non-Vegetarian,485
2,3,34,Psychology,PhD,F,Desserts,Pescatarian,320
3,4,18,Biology,Postgraduate,A,Fruits,Vegan,156
4,5,30,Biology,Undergraduate,A,Fruits,Vegetarian,121
...,...,...,...,...,...,...,...,...
495,496,15,Physics,PhD,C,Fruits,Vegan,613
496,497,28,Literature,Postgraduate,B,Fruits,Vegetarian,555
497,498,19,Chemistry,Undergraduate,C,Vegetables,Non-Vegetarian,416
498,499,28,History,High School,A,Protein,Vegan,193
499,500,18,Chemistry,PhD,A,Dairy,Vegetarian,118

In [16]:
academic.dtypes

Student_ID                    int64
Age                           int64
Academic_Subject             object
Academic_Level               object
Grade                        object
Food_Type                    object
Food_Preference              object
Calories_Consumed_per_Day     int64
dtype: object

In [39]:
academicDup.duplicated().sum()

np.int64(2)

In [ ]:
academicDup=academic.append(academic.iloc[1], ignore_index=True)
academicDup=academicDup.append(academic.iloc[3], ignore_index=True)

In [23]:
df.iloc[100]

Student_ID                           101
Age                                   31
Academic_Subject              Literature
Academic_Level               High School
Grade                                  C
Food_Type                          Dairy
Food_Preference              Pescatarian
Calories_Consumed_per_Day            539
Name: 100, dtype: object

In [36]:
import pandas as pd
academicDup = pd.concat([academic, academic.iloc[[1]], academic.iloc[[2]]], ignore_index=True)
academicDup = pd.concat([academic, academic.iloc[[1]], academic.iloc[[3]]], ignore_index=True)

In [54]:
num_rows_to_duplicate = int(0.25 * len(academic))
rows_to_duplicate = academic.sample(n=num_rows_to_duplicate, random_state=42)
academicD = pd.concat([academic, rows_to_duplicate], ignore_index=True)

In [58]:
#academic = academicD
academic.duplicated().sum()

np.int64(125)